<%- include('partials/header', { title: 'Categories' }) %>

<h1>Service Project Categories</h1>

<ul>
  <li>Environmental</li>
  <li>Educational</li>
  <li>Community Service</li>
  <li>Health and Wellness</li>
</ul>

<%- include('partials/footer') %>