<%- include('partials/header', { title: 'Categories' }) %>

<h1>Service Project Categories</h1>

<p>

  <a href="/new-category">
    Add New Category
  </a>

</p>

<ul>

  <% categories.forEach(category => { %>

    <li>

      <a href="/category/<%= category.category_id %>">
        <%= category.name %>
      </a>

    </li>

  <% }) %>

</ul>

<%- include('partials/footer') %>